[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.0"
colorama = "==0.4.1"
jsonref = "==0.2"
pyyaml = "==5.1"


[dev-packages]
wheel = "*" 
pipenv-setup = "*" 
